<div class="card">
    <div class="card-header">Filtros</div>
    <div class="card-body">
        <form>
            <div class="form-group">
                <label for="my-input" for="txtDe">De</label>
                <input id="my-input" id="txtDe" class="form-control" type="number" name="">
            </div>
            <div class="form-group">
                <label for="my-input" for="txtAte">Ate</label>
                <input id="my-input" id="txtAte" class="form-control" type="text" name="">
            </div>

            <button class="btn btn-primary btn-bock btn-sm mt-2">Filtrar</button>
        </form>
    </div>
</div>